<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email" name="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage(email, 'email')}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage(password, 'password')}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-checkbox matInput formControlName="remember" >Remember me!</mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button type="submit" color="primary" class="mt-10">Login</button>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <table align="center">
      <tr>
        <td>Don't have an account?<a href="#">Sign Up</a></td>
      </tr>
      <tr>
        <td><a href="#">Forgot your password?</a></td>
      </tr>
    </table>
  </mat-card-actions>
</mat-card>
