<mat-card class="example-card" [class.mat-elevation-z20]="true">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email" name="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage(email, 'email')}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="password" placeholder="Password" type="password" name="password"
                required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage(password, 'password')}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="repeatPassword" placeholder="Password" type="password"
                name="repeatPassword" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage(repeatPassword, 'repeatPassword')}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button type="submit" color="primary" class="mt-10">Submit</button>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <table align="center">
      <tr>
        <td>Already have an account? Click here to&nbsp;<a [routerLink]="['/auth/login']">Login</a></td>
      </tr>
      <tr>
        <td><a href="#">Forgot your password?</a></td>
      </tr>
    </table>
  </mat-card-actions>
</mat-card>
